body {
  background-color: #ffffff color;
  color
}
.nav-link:hover {
  color: rgba(33, 150, 243, 1);
}
.list-link:hover {
  color: rgba(33, 150, 243, 1);
}
.hero {
    background-color: rgba(47, 48, 58, 1);
;
}
.title-hero{
    color:white
}
.button-hero {
    color:#2196F3;
    background-color: white;
}